<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Games
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="game-card">
    <ion-card-header>
      <ion-card-title>Let's play beerathon!</ion-card-title>
    </ion-card-header>
    <ion-card-content>

    </ion-card-content>
  </ion-card>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="primary">
      <ion-icon name="play"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="light">
        <ion-icon name="play"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon name="gift"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon name="trophy"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon name="podium"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>

  </ion-fab>

</ion-content>