<ion-tabs >

  <ion-tab-bar slot="bottom" color="dark">
    <ion-tab-button tab="tab1">
      <ion-icon name="beer"  color="primary"></ion-icon>
      <ion-label  color="primary">Drink</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="people"></ion-icon>
      <ion-label>Friends</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <ion-icon name="logo-game-controller-b"></ion-icon>
      <ion-label>Games</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab5">
      <ion-icon name="bed"  color="danger"></ion-icon>
      <ion-label  color="danger">Bring me home</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
